<div class="panel panel-danger" ng-controller="ActivateUserController as ctrl">
  <div class="panel-heading text-center"><b>Användare som väntar på aktivering!</b></div>
  <div class="panel-body">
    <div class="row">
  	  <div class="col-md-4">
        <div class="panel panel-primary">
        <div class="panel-heading text-center"><b>{{selectedUser != null ? selectedUser.email : 'Välj användare'}}</b></div>
          <div class="panel-body">
      	    <div class="panel-group" id="accordionUsers">
      		 <div class="panel panel-default" ng-repeat="user in users | filter:{organizationId: 1,3 role: '!Admin'}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordionUsers" href="" data-target="#collapseUsers{{$index}}" 
                       ng-click="selectUser(user)">
                    {{user.fullName}}
                  </a>
                </h4>
              </div>
              <div id="collapseUsers{{$index}}" class="panel-collapse collapse">
                <div class="panel-body">
                  <dl>
                    <dt>Förnamn</dt>
                    <dd>{{user.firstName}}</dd>
                  </dl>
                  <dl>
                    <dt>Efternamn</dt>
                    <dd>{{user.lastName}}</dd>
                  </dl> 
                  <dl>
                    <dt>E-Post</dt>
                    <dd>{{user.email}}</dd>
                  </dl> 
                  <dl>
                    <dt>Organisation</dt>
                    <dd>{{user.organization}}</dd>
                  </dl> 
                  <dl>
                    <dt>Roll</dt>
                    <dd>{{user.role}}</dd>
                  </dl>      
                </div>
              </div>
            </div>	
    	   </div> <!-- /panel-group -->
         </div>
       </div>
  	 </div> <!-- /col -->
     <div ng-show="selectedUser != null">
     <div class="col-md-4">
        <div class="panel panel-primary">
        <div class="panel-heading text-center"><b>{{selectedOrganization != null ? selectedOrganization.name : 'Välj organisaition'}}</b></div>
          <div class="panel-body">
            <div class="panel-group" id="accordionOrganizations">
           <div class="panel panel-default" ng-repeat="organization in organizations">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordionOrganizations" href="" data-target="#collapseOrganizations{{$index}}" 
                       ng-click="selectOrganization(organization)">
                    {{organization.name}}
                  </a>
                </h4>
              </div>
              <div id="collapseOrganizations{{$index}}" class="panel-collapse collapse">
                <div class="panel-body">
                  <dl>
                    <dt>Organization name</dt>
                    <dd>{{organization.name}}</dd>
                  </dl>    
                </div>
              </div>
            </div>  
         </div> <!-- /panel-group -->
         </div>
       </div>
     </div> <!-- /col -->
     </div>
     <div ng-show="selectedOrganization != null">
     <div class="col-md-4">
        <div class="panel panel-primary">
        <div class="panel-heading text-center"><b>{{selectedRole != null ? selectedRole.name : 'Välj roll'}}</b></div>
          <div class="panel-body">
          <div ng-repeat="role in roles" class="radio">
            <label>
              <input type="radio" name="selectRole" id="selectRole{{$index}}" ng-click="selectRole(role)">
              {{role.name}}
            </label>
          </div>
          <button type="button" class="btn btn-success" ng-click="updateUser()" ng-show="selectedRole != null">Spara</button>
         </div>
       </div>
     </div> <!-- /col -->
     </div>
	</div> <!-- /row -->
  </div> <!-- /panel-body -->
</div> <!-- /panel -->