<div ng-controller="ModelPublishController as ctrl">
    <alert ng-repeat="alert in ctrl.alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">{{alert.msg}}</alert>
    <form name="form" ng-submit="ctrl.submit()" novalidate ng-init="ctrl.init()">
        <div class="row">
            <div class="col-md-4" id="addForm-column1">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"><b>{{ctrl.model.name != null ? ctrl.model.name : 'Välj
                        modell'}}</b></div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordionUsers">
                            <div class="panel panel-default" ng-repeat="model in models">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionUsers" href=""
                                           data-target="#collapseUsers{{$index}}"
                                           ng-click="ctrl.selectModel(model)">
                                            {{model.name}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseUsers{{$index}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <dl>
                                            <dt>AnvändarID</dt>
                                            <dd>{{model.userId}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /panel-body -->
                </div>
            </div>
            <div class="col-md-8" id="addForm-column2">

                <div class="alert alert-info">{{'form.model.heading.file'| translate }} för {{ctrl.model.name}}</div>

                <div class="form-group">
                    <label translate>form.model.file.webObject</label>

                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                    <span class="input-group-addon btn btn-default btn-file">
                        <span class="fileinput-new" translate>form.model.file.select</span>
                        <span class="fileinput-exists" translate>form.model.file.change</span>
                        <input type="file"
                               name="web-object-file"
                               id="web-object-file">
                    </span>
                    </div>
                </div>

                <div class="form-group">
                    <label translate>form.model.file.thumbnail</label>

                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                    <span class="input-group-addon btn btn-default btn-file">
                        <span class="fileinput-new" translate>form.model.file.select</span>
                        <span class="fileinput-exists" translate>form.model.file.change</span>
                        <input type="file"
                               name="thumbnail-file"
                               id="thumbnail-file">
                    </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button value="Send"
                        type="submit"
                        id="submit"
                        class="btn btn-success form-control"
                        ng-disabled="!ctrl.valid(form.$valid) || ctrl.uploading()"
                        translate>form.model.upload
                </button>
            </div>
        </div>
    </form>
</div>