@(toBeAbleToCompile: String = "")(implicit request: play.api.mvc.Request[Any])

@defining(utils.Language.langCode(request)) { implicit langCode =>
@main(Messages("title.add")) {
	<link rel="stylesheet" media="screen"
	href="/assets/stylesheets/bootstrap-tagsinput.css">
<link rel="stylesheet" media="screen"
	href="/assets/stylesheets/bootstrap-fileupload.css">
<script type="text/javascript"
	src="/assets/javascripts/typeahead/bootstrap3-typeahead.js"></script>
<script type="text/javascript"
	src="/assets/javascripts/typeahead/bloodhound.js"></script>
<script type="text/javascript"
	src="/assets/javascripts/bootstrap-tagsinput.js"></script>
<script type="text/javascript"
	src="/assets/javascripts/bootstrap-fileupload.js"></script>
<script type="text/javascript"
	src="/assets/javascripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript"
	src="/assets/javascripts/museum/tinymce-modelform.js"></script>
<script type="text/javascript"
	src="/assets/javascripts/museum/model/app.js"></script>
	<div ng-app="ModelApp" ng-view>
	</div>
}
}
  