# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
bin
db
eclipse
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
RUNNING_PID
uploads
ec2Commands.txt
public/bower_components
protected/bower_components
dist.zip
