body {
    padding-top: 25px;
}

.file-input {
    height: 100%;
}

.model-tags {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.model-tags span.label {
    line-height: 2em;
}

.link {
    cursor: hand;
}

tags-input .host,
tags-input .tags {
    height: auto !important;
}

.browser {
    padding-top: 30px;
}

.browser-model-title {
    font-weight: bolder;
    padding-bottom: 10px;
    padding-left: 10px;
}

.browser-dt {
    width: 80px !important;
}

.browser-dd {
    margin-left: 100px !important;
}

#circularLoader{
    position:absolute;
    width: 100px;
    height: 100px;
    left:50%;
    top:50%;
    margin-left: -50px;
    margin-top: -50px;
}

#canvas-place-holder{
    position:relative;
}

#controls{
    position:absolute;
    width: 110px;
    height: 30px;
    bottom: 5%;
    right:   2%;
}

.control-button{
    position:relative;
    width: 30px;
    height: 30px;
    background-color:  #000;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    margin-right: 4px;
}

.control-button:active, .active{
    opacity:0.9;
    background:#09F;
}

.glyphicon.glyphicon-resize-full {
    font-size: 17px;
    margin-top: 6px;
    margin-left: 7px;
}

.glyphicon.glyphicon-resize-small {
    font-size: 17px;
    margin-top: 6px;
    margin-left: 7px;
}

.glyphicon.glyphicon-repeat {
    font-size: 17px;
    margin-top: 7px;
    margin-left: 7px;
}

.glyphicon.glyphicon-resize-horizontal {
    font-size: 17px;
    margin-top: 7px;
    margin-left: 7px;
}

.white{
    color: #fff;
}

.measurement-icon {
    width:20px;
    height:20px;
    margin-top: 5px;
    margin-left: 5px;
    -webkit-filter: invert(100%);

}

.hotspot-button{
    position:absolute;;
    width: 20px;
    height: 20px;
    background-color:  #000;
    border-radius: 50%;
    opacity:0.6;
    border: 2px solid white;
    cursor: pointer;
}

.hotspot-text{
    text-align: center;
    margin-top:7%;
    font-size: 75%;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hotspot-button:hover{
    opacity:1;
}

#hotspot_input_titel{
    color: white;
    background-color: black;
    border:none;
    font-weight: bold;
    font-size: 13px;
}

#hotspot_input_titel:focus{
    outline-width: 0;
}

#hotspot_input_description{
    padding: 10px;
    width: 190px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: transparent;
    border:none;
    resize: none;
    overflow:auto;
}

#hotspot_input_description:focus{
    outline-width: 0;
}

#hotspot_cancel{
    background-color: transparent;
    border: #fff;
    border-style: solid;
    border-width: 1px;
    padding: 1px 10px;
}

#hotspot_ok{
    background-color: transparent;
    border: #fff;
    border-style: solid;
    border-width: 1px;
    padding: 1px 15px;
}

#distance-infowindow{
    position:absolute;
    width: 120px;
    height: 20px;
    left:5px;
    top:5px;
    background-color:  #000;
    border-radius: 10px;
    border: 2px solid white;
}

#distance-infowindow-text{
    text-align: center;
    margin-top:0px;
    font-size: small;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#distance-resetButton{
    position:absolute;
    width: 60px;
    height: 20px;
    left:130px;
    top:5px;
    background-color:  #cccccc;
    border-radius: 10px;
    border: 2px solid white;
}

#distance-resetButton-text{
    text-align: center;
    margin-top:0%;
    font-size: small;
    color: black;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#distance-resetButton:active{
    opacity:0.9;
    background: #7f7f7f;
}

.point{
    position:absolute;;
    width: 10px;
    height: 10px;
    background-color:  #0F0;
    border-radius: 50%;
}


.modal-dialog {
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
}


.imageContainer {
    padding-left: 15px;
}

.thumbnail {
    float: left;
    width:75px;
    height:75px;
    margin-bottom: 0px;
}

 .dropdown-menu > li {
    padding: 3px 20px;
}
