body {
    padding-top: 25px;
}

.file-input {
    height: 100%;
}

.model-tags {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.model-tags span.label {
    line-height: 2em;
}

.link {
    cursor: hand;
}

#camera-control {
    margin-top: 20px;
}

tags-input .host,
tags-input .tags {
    height: auto !important;
}

.browser {
    padding-top: 30px;
}

.browser-model-title {
    font-weight: bolder;
    padding-bottom: 10px;
    padding-left: 10px;
}

.browser-dt {
    width: 80px !important;
}

.browser-dd {
    margin-left: 100px !important;
}


/*for circular loader*/
#circularLoader{
    position:absolute;
    width: 100px;
    height: 100px;
    left:50%;
    top:50%;
    margin-left: -50px;
    margin-top: -50px;
}

#canvas-place-holder{
    position:relative;
}
