<div class="media-left">
    <a href="#/model/{{model.id}}">
        <img class="media-object" ng-src="{{model.thumbnail}}" width="128px" height="128px">
    </a>
</div>
<div class="media-body">
    <h4 class="media-heading" style="padding-left: 40px;padding-bottom: 10px"><em>{{model.name}}</em></h4>
    <dl class="dl-horizontal">
        <dt translate>THUMBNAIL.MODEL_MATERIAL</dt>
        <dd>{{model.material}}</dd>
        <dt translate>THUMBNAIL.MODEL_LOCATION</dt>
        <dd>{{model.location}}</dd>
        <dt translate>THUMBNAIL.MODEL_YEAR</dt>
        <dd>{{model.date}}</dd>
        <dt>Taggar</dt>
        <dd>
            <span class="label label-info" ng-repeat="tag in ctrl.tags[model.id]">{{tag.text}}</span>
        </dd>
    </dl>
</div>
