<div id="map-row" class="row map-row" ng-controller="MapCtrl as ctrl">


    <!-- Marker list -->
    <div class="col-md-4 map-fill">

        <div class="panel panel-info map-fill">
            <div class="panel-heading" translate>MAP.LIST.HEADER</div>
            <div class="panel-body map-list-body">
                <div ng-repeat="marker in markers | filter:searchText">
                    <div class="media loc" data-locid={{marker.locid}}>
                        <div class="media-left">
                            <img class="media-object map-list-thumbnail" src="{{marker.model.thumbnail}}">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{marker.title}}</h4>

                            {{ 'MAP.LIST.LOCATION'| translate }}: {{marker.loc}}
                        </div>
                    </div>
                    <hr/>
                </div>
                <div ng-repeat="marker in markers | filter:searchText">
                    <div class="media loc" data-locid={{marker.locid}}>
                        <div class="media-left">
                            <img class="media-object map-list-thumbnail" src="{{marker.model.thumbnail}}">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{marker.title}}</h4>

                            {{ 'MAP.LIST.LOCATION'| translate }}: {{marker.loc}}
                        </div>
                    </div>
                    <hr/>
                </div>
                <div ng-repeat="marker in markers | filter:searchText">
                    <div class="media loc" data-locid={{marker.locid}}>
                        <div class="media-left">
                            <img class="media-object map-list-thumbnail" src="{{marker.model.thumbnail}}">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{marker.title}}</h4>

                            {{ 'MAP.LIST.LOCATION'| translate }}: {{marker.loc}}
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>

    <!-- Google map  -->
    <div class="col-md-8 map-fill">
        <div id="map" class="map-container"></div>
    </div>

</div>
