<!--<div class="row" ng-controller="BrowserAppController as ctrl"
     ng-init="ctrl.init()">
    <div ng-repeat="modelGroup in ctrl.models | groupBy:3">
        <div class="col-md-4" ng-repeat="model in modelGroup" ng-init='ctrl.loadTags(model.id)'>
            <div class="thumbnail">
                <a href="#/model/{{model.id}}">
                    <img ng-src="{{model.thumbnail}}"/>
                </a>
                <br/>
                <dl class="dl-horizontal">
                    <dt translate>THUMBNAIL.ID</dt>
                    <dd>{{model.id}}</dd>
                    <dt translate>THUMBNAIL.MODEL_NAME</dt>
                    <dd>{{model.name}}</dd>
                    <dt translate>THUMBNAIL.USER_ID</dt>
                    <dd>{{model.userId}}</dd>
                    <dt translate>THUMBNAIL.MODEL_MATERIAL</dt>
                    <dd>{{model.material}}</dd>
                    <dt translate>THUMBNAIL.MODEL_LOCATION</dt>
                    <dd>{{model.location}}</dd>
                    <dt translate>THUMBNAIL.MODEL_YEAR</dt>
                    <dd>{{model.date}}</dd>
                </dl>
                <div class="model-tags">
                    <h4>
                        <span style="margin-left: 5px" class="label label-info" ng-repeat="tag in ctrl.tags[model.id]">{{tag.text}}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row" ng-controller="BrowserAppController as ctrl"
     ng-init="ctrl.init()">
    <div class="media" ng-repeat="model in ctrl.models" ng-init='ctrl.loadTags(model.id)'>
        <div class="media-left">
            <a href="#/model/{{model.id}}">
                <img class="media-object" ng-src="{{model.thumbnail}}" width="128px" height="128px">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading" style="padding-left: 40px;padding-bottom: 10px"><em>{{model.name}}</em></h4>
            <dl class="dl-horizontal">
                <dt translate>THUMBNAIL.MODEL_MATERIAL</dt>
                <dd>{{model.material}}</dd>
                <dt translate>THUMBNAIL.MODEL_LOCATION</dt>
                <dd>{{model.location}}</dd>
                <dt translate>THUMBNAIL.MODEL_YEAR</dt>
                <dd>{{model.date}}</dd>
                <dt>Taggar</dt>
                <dd>
                    <span class="label label-info" ng-repeat="tag in ctrl.tags[model.id]">{{tag.text}}</span>
                </dd>
            </dl>
        </div>
        <hr/>
    </div>
</div>

