<div class="container browser">
  <div class="row" ng-controller="BrowserAppController as ctrl" ng-init="ctrl.init()">
    <div class="col-xs-6"  ng-repeat="model in ctrl.models" ng-init='ctrl.loadTags(model.id)'>
        <div class="media">
            <div class="media-left">
                <a href="#/model/{{model.id}}">
                    <img class="media-object" ng-src="{{model.thumbnail}}" width="128px" height="128px">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading browser-model-title">{{model.name}}</h4>
                <dl class="dl-horizontal">
                    <dt class="browser-dt" translate>THUMBNAIL.MODEL_MATERIAL</dt>
                    <dd class="browser-dd">{{model.material}}</dd>
                    <dt class="browser-dt" translate>THUMBNAIL.MODEL_LOCATION</dt>
                    <dd class="browser-dd">{{model.location}}</dd>
                    <dt class="browser-dt" translate>THUMBNAIL.MODEL_YEAR</dt>
                    <dd class="browser-dd">{{model.date}}</dd>
                    <dt class="browser-dt" >Taggar</dt>
                    <dd>
                        <span class="label label-info" ng-repeat="tag in ctrl.tags[model.id]">{{tag.text}}</span>
                    </dd>
                </dl>
            </div>
            <hr/>
        </div>
    </div>
  </div>
</div>
