@(message: String)(implicit request: play.api.mvc.Request[Any])

@defining(utils.Language.langCode(request)) { implicit langCode =>
@main("Archive home page.") {
	
	<script type='text/javascript' src='@routes.Assets.at("javascripts/3dViewer/three.min.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("javascripts/3dViewer/TrackballControls.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("javascripts/3dViewer/OBJLoader.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("javascripts/3dViewer/Detector.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("javascripts/3dViewer/addCanvas.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at("javascripts/3dViewer/BoundingBoxHelper.js")'></script>
	
	<div class="row">
	  <div class="col-md-8" id="model-viewer">
	 	<div class="alert alert-success">Model Viewer</div>
	 	<div id="canvas-place-holder"></div> 
	 	<div id="camera-control">
	 		<button type="button" class="btn btn-primary" id="tooglePanY">Toogle Y paning</button>
	 	</div> 
	  </div>
	  <div class="col-md-4" id="model-info">
	  	<div class="alert alert-info">Model information</div>
	  	<p>This is a casino croupier</p>
	  </div>
	</div>
   
  <script>
  	var viewer = new Viewer("#canvas-place-holder",
  		  	"@routes.Assets.at("3dAssets/candleHolder.obj")", 
  		  	"@routes.Assets.at("3dAssets/candleHolderSmal.jpg")");
  	viewer.initCanvas();
  	
  	$( "#tooglePanY" ).click(function() {
 	 viewer.tooglePanY();
});
  	
  </script>
  
}
}