@(model: models.Model, tags: List[Tag])(implicit request: play.api.mvc.Request[Any])

@defining(utils.Language.langCode(request)) { implicit langCode =>
@main(Messages("title.viewer")) {
	
	<script type='text/javascript' src='@routes.Assets.at( "javascripts/3dViewer/three.min.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at( "javascripts/3dViewer/TrackballControls.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at( "javascripts/3dViewer/OBJLoader.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at( "javascripts/3dViewer/Detector.js")'></script>	
	<script type='text/javascript' src='@routes.Assets.at( "javascripts/3dViewer/BoundingBoxHelper.js")'></script>
	<script type='text/javascript' src='@routes.Assets.at( "javascripts/museum/Viewer.js")'></script>
	
	<div class="row">
	  <div class="col-md-8" id="model-viewer">
	 	<div class="alert alert-success">@Messages("viewer.viewer.heading")</div>
	 	<div id="canvas-place-holder"> </div> 
	 	<div id="camera-control">
	 		<button type="button" class="btn btn-primary" id="reset-view">@Messages("viewer.viewer.reset-view")</button>
	 		<button type="button" class="btn btn-primary" id="toogle-bounding-box">@Messages("viewer.viewer.toogle-bounding-box")</button>
	 		<button type="button" class="btn btn-primary" id="toogle-pan-Y">@Messages("viewer.viewer.toogle-Y-panning")</button>
	 	</div> 
	  </div>
	  <div class="col-md-4" id="model-info">
	  	<div class="alert alert-info">@Messages("viewer.information.heading.info")</div>
	  	@views.html.model.info(model, tags)
	  	<br/><br/>
	  	<div class="alert alert-info">@Messages("viewer.information.heading.text")</div>
	  	<textarea id="text"></textarea>
	  </div>
	</div>
   
  <script>
  $( document ).ready(function() { 
  	viewer = new Viewer("#canvas-place-holder",
  		  	"@routes.Application.getUploadedFile(model.pathObject.getOrElse(""))", 
  		  	"@routes.Application.getUploadedFile(model.pathTexure.getOrElse(""))");
  	viewer.initCanvas();
  	
	$( "#reset-view" ).click(function() {
	 	 viewer.resetView();
	});
	  	
	$( "#toogle-bounding-box" ).click(function() {
	 	 viewer.toogleBoundingBox();
	});
	
	$( "#toogle-pan-Y" ).click(function() {
	 	 viewer.tooglePanY();
	});
	
	tinymce.init({
      selector: "#text",
      statusbar: true,
      language: museumCookie["languageCode"] === "en" ? "en" : "sv_SE",
      height: "300px",
      entity_encoding: "raw",
      menubar:false,
      statusbar: false,
      setup : function(editor) {
    	editor.on('init', function() {
      	  tinymce.editors[0].setContent($('<textarea />').html("@Html(model.text)").text().replace(/\n/ig,"<br>"));
   		});
    	}
    	
      });
	});
  	
  </script>
  
}
}